<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" type="image/ico" href="~/Content/Library/icon/Cart.ico">

    <title>CT464 -BagBag</title>
    <!-- Bootstrap CSS -->
    <link href="~/Content/Library/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap theme -->
    <link href="~/Content/Library/Admin/css/bootstrap-theme.css" rel="stylesheet" />
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/Library/Admin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/Library/Admin/css/font-awesome.css" rel="stylesheet" />
    
    <!-- Custom styles -->
    <link href="~/Content/Library/Admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/Library/Admin/css/style-responsive.css" rel="stylesheet" />
</head>

<body class="login-img3-body">   
@RenderBody()
</body>

</html>
