@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
</p>
<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
</p>
<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
<p>
    Use this area to provide additional information.
    HLV Park Hang-seo cũng không cử trợ lý tới theo dõi trận đấu giữa Hàn Quốc và Malaysia. Nhà cầm quân này cho rằng ông đã có đủ tư liệu về đội bóng quê hương nhờ kho video sưu tầm, cộng với ghi chép và băng hình mà trợ lý của ông thực hiện khi tới theo dõi đội bóng này đá với Bahrain trong ngày ra quân.

    "Tôi có muốn tránh Hàn Quốc không ư? Không chỉ Việt Nam mà các đội khác cũng muốn tránh vì họ mạnh. Thêm vào đó, tôi đang dẫn dắt Việt Nam, nhưng Hàn Quốc là quê hương tôi. Tất nhiên, trong trường hợp không tránh được, tôi sẽ làm hết sức mình để mang về chiến thắng cho Việt Nam bởi tôi là HLV trưởng đội Việt Nam, tôi phải có trách nhiệm, và nghĩa vụ vì đội bóng", HLV Park Hang-seo trả lời truyền thông quê nhà.

    Việt Nam sẽ đá với Nhật Bản vào ngày 19/8 để định đoạt ngôi đầu bảng D. Hai đội đều đã sớm giành quyền vào vòng 1/8 với cùng điểm, hệ số bàn thắng bại là +5. Nếu trận đấu kết thúc với tỷ số hòa, đôi bên định đoạt vị trí bằng loạt đá luân lưu.
</p>
</p>
</p>
</p>
</p>
</p>
</p>
</p>